/* Global */

header {
  background: #eee;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding: 15px;
}

header #social-networks {
  float: right;
}

header #social-networks a i {
  color: black;
  font-size: 30px;
  margin-left: 15px;
  text-decoration: none;
}

header #social-networks a i:hover {
  color: #0088cc;
}

header h1 {
  margin-bottom: 0;
}

header h1 a {
  color: #555;
}

header h1 a:hover {
  color: #555;
}

.content {
  font-size: 16px;
}

/* Index Page */

.post {
  margin-bottom: 20px
}

.post-date {
  float: left;
  padding-right: 13px;
  text-align: right;
  width: 150px;
}

.post-link {
  float: left;
}

/* Post Pages */

#post h3 {
  margin-top: 40px;
}

#post-title {
  margin-bottom: 0;
}

#post-date {
  color: #888;
}

#tags {
  margin-bottom: 40px;
}
