/* Global */

.social-networks a i {
  color: black;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.social-networks a i:hover {
  color: #0088cc;
}

header h1 {
  margin-bottom: 0;
}

header h1 a {
  color: #555;
}

header h1 a:hover {
  color: #555;
}

.content {
  font-size: 16px;
}

/* Index Page */

.post {
  margin-bottom: 20px;
  margin-left: 20px;
}

.post-date {
  color: #888;
  font-size: 13px;
}

.post-link {
}

/* Post Pages */

#post h3 {
  margin-top: 40px;
}

#post-title {
  margin-bottom: 0;
}

#post-date {
  color: #888;
}

#tags {
  margin-bottom: 40px;
}
