<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/source.css" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <link type="application/atom+xml" rel="self" href="http://corrupt.net/atom.xml"/>

  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Dan McNevin</a>
          <ul class="nav social-networks pull-right">
            <li><a href="http://github.com/dpmcnevin"><i class="icon-github-sign"></i></a></li>
            <li><a href="http://stackoverflow.com/users/50924/dan-mcnevin"><i class="icon-stackexchange"></i></a></li>
            <li><a href="http://twitter.com/mental_thinking"><i class="icon-twitter-sign"></i></a></li>
            <li><a href="http://www.linkedin.com/pub/daniel-mcnevin/5/96/655"><i class="icon-linkedin-sign"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="sidebar">
      </div>
      <div class="content">
        <section>
          {{ content }}
        </section>
      </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4026186-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
