<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/source.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Dan McNevin</a></h1>
    </header>
    <div class="container-fluid">
      <div class="sidebar">
        <a href="http://github.com/dpmcnevin"><img src="/images/github_32.png"></a>
        <a href="http://twitter.com/mental_thinking"><img src="/images/twitter_32.png"></a>
        <a href="http://facebook.com/dpmcnevin"><img src="/images/facebook_32.png"></a>
        <a href="http://www.linkedin.com/pub/daniel-mcnevin/5/96/655"><img src="/images/linkedin_32.png"></a>
        <a href="mailto:dpmcnevin@gmail.com"><img src="/images/google_32.png"></a>
      </div>
      <div class="content">
        <section>
          {{ content }}
        </section>
      </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4026186-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
